#menuSection{
    width: 100vw;
    background-color: #edd8a1;
}

/* Management of the row class and the disposition of the columns of the menu chart */
.columnStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.row{
    justify-content: center;
    align-items: center;
}

/* Card class for each element of the menu */
.card {
    height: 20em;
    width: 20em;

    background-color: white;
    border-radius: 0.5em;
    transition: 0.4s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1em;
}

/* Coffee img for each card on the menu */
.coffee {
    height: 8em;
    width: 8em;
}

/* Content part of the card */
.downCard{
    height: 12em;
    width: fit-content;
    background-color: #bb8855;
    border-radius: 0 0 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Name of the coffee that appears on each card */
.downTitleCoffee{
    height: fit-content;
    width: fit-content;
    font-weight: bold;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

/* Description of the coffee that appears on each card */
.downDescriptionCoffee{
    height: fit-content;
    margin-left: 0.5em;
    width: fit-content;
}