body{
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;
}

header{
    padding: 0;
    margin: 0;
    background-color: #dd9955;
}

footer{
    padding: 0;
    margin: 0;
    background-color: #553311;
}

.height{
    height: 20vh;
    width: 100vw;
}

/* All the Bootstrap icons */
.bi{
    font-size: 2em;
}

#headerSection{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contentSection{
    height: 60vh;
    width: 100vw;
    background-color: #edd8a1;
}

#footerSection{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Corporative icon on the header box */
#headerIcon{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Corporative icon on the header file */
#corporativeIcon{
    height: 5em;
    width: 5em;
}

/* Gap inserted in the middle of the header */
#headerGap{
    height: 20vh;
}

/* Different website sections menu box */
#headerSections{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Links of the header sections related to the different website sections */
.sectionsIconsLinks{
    height: fit-content;
    width: fit-content;
    margin: 0.3em;
    padding: 0.5em;
    color: black;
    text-decoration: none;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

#lastIconLink{
	margin-right: 2em;
}

.iconHeader{
    padding: 0.3em;
}

/* Links of the header sections hover interaction */
.sectionsIconsLinks:hover{
    background-color: #553311;
    color: #aa7733;
    background-size: 1.5em;
    transition: 1s;
}

/* Icons of the header sections hover interaction of the parent */
.sectionsIconsLinks:hover > i{
    transition: 1s;
    color: #aa7733;
}

/* Company text relation box */
#footerEnterprise{
    height: 20vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

/* Different website social media menu box */
#footerSocialMedia{
    padding: 2em;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Links of the footer sections related to the different website social media */
.socialMediaLinks{
    padding: 1em;
    color: white;
    text-decoration: none;
}

/* Icons of the footer sections related to the parent */
.socialMediaLinks > i{
    transition: 1s;
}

/* Icons of the footer sections hover interaction of the parent */
.socialMediaLinks:hover > i{
    transition: 1s;
    color: #aa7733;
}

/* Burger header icon and bars interactions that are making it */
#burgerIcon {
	cursor: pointer;
	height: 1.6875em;
	width: 1.6875em;
	margin: 3.125em;
	overflow: visible;
	position: relative;
	z-index: 2;

	span,
	span:before,
	span:after {
		background: black;
		display: block;
		height: 0.125em;
		opacity: 1;
		position: absolute;
		transition: 0.3s ease-in-out;
	}

	span:before,
	span:after {
		content: '';
	}

	span:before {
		left: 0em;
		top: -0.625em;
		width: 1.6875em;
	}

	span {
		right: 0em;
		top: 0.8125em;
		width: 1.6875em;
	}

	span:after {
		left: 0em;
		top: 0.625em;
		width: 1.6875em;
	}

	&.close {
		span:before {
			top: 0em;
			transform: rotate(90deg);
			width: 1.6875em;
            background: white;
		}

		span {
			transform: rotate(-45deg);
			top: 0.8125em;
			width: 1.6875em;
            background: white;
		}

		span:after {
			top: 0;
			left: 0;
			transform: rotate(90deg);
			opacity: 0;
			width: 0;
            background: white;
		}
	}
}

/* Burger header content when is interacted with the burger icon */
#burgerMenu {
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	text-align: center;
	padding-top: 1.25em;
	transition: all 0.3s ease-in-out;

	&.overlay {
		visibility: visible;
		opacity: 1;
		padding-top: 6.25em;
		background: rgba(0, 0, 0, 0.5);
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
	}

	a {
		color: #fff;
		display: block;
		font-size: 2em;
		margin-bottom: 1.875em;
		text-decoration: none;
	}
}